{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

Very few TV shows in history have produced the level of dedicated fanbase that Game Of Thrones — entering its seventh and final season this Sunday — has managed to cultivate. As a community, Game Of Thrones fans have created a plethora of interesting data about both the TV show itself and the books the show is based off. Although using such data to predict the outcome of such a suspenseful (and, frankly, violent) piece of entertainment is a daunting prospect, from the data we can get a better sense of what life in Westeros is like, which of the show's hundreds of characters are the ones who have an actual shot at the throne — and which characters may meet their ends in the show's typically-gruesome fashion.

*Be forewarned that there may be spoilers below for those who haven't already watched to the end of season six.*

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

Nobody has put more effort into analysing Game Of Thrones data than the group from Technische Universität München, which has [produced an elaborate machine learning model for predicting who will die in the show](https://www.got.show). By creating a list of features consistent across all the characters in the show — such as gender, marriage status and nobel house belonged to — their model attempts to determine whether a given character is alive and/or dead (some characters — such as Jon Snow — are actually both), with mixed results: in terms of predicting whether a character is alive, their model scores a respectable 85% precision. Predicting whether a character is dead, however, tends to be slightly less accurate than a coin flip.

TKTKTK quote from got.show people re: machine learning

Curiously, their model currently predicts that Cersei Lannister is one of the most likely to survive (despite a plethora of commentary online already speculating how she'll die this season), while also predicting Daenerys Targaryen has a 95% chance of being offed by one of the many others vying for the throne. However, with the addition of a brand new existential threat to all of Westeros finally coming to a head this season, the amount of uncertainty has never been higher.

TKTKTK another got.show quote re: white walker effect

TKTKTK map of westeros from http://viewers-guide.hbo.com/game-of-thrones



{% endmarkdown %}
{% endblock %}
